        <div class = 'col-md-3'>
			<label for = "PREGNANT_DURING_REF_PERIOD_-_RD_3FORSLASH1_BUCKET">"PREGNANT_DURING_REF_PERIOD_-_RD_3FORSLASH1_BUCKET":</label>
			<select class = 'form-control input-md' name = "PREGNANT_DURING_REF_PERIOD_-_RD_3FORSLASH1_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "MARITAL_STATUS-12FORSLASH31FORSLASH13_(EDITEDFORSLASHIMPUTED)_BUCKET">"MARITAL_STATUS-12FORSLASH31FORSLASH13_(EDITEDFORSLASHIMPUTED)_BUCKET":</label>
			<select class = 'form-control input-md' name = "MARITAL_STATUS-12FORSLASH31FORSLASH13_(EDITEDFORSLASHIMPUTED)_BUCKET">
				<option value = '-9'>-9</option>				<option value = '-8'>-8</option>				<option value = '-7'>-7</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "ARTHRITIS_DIAGNOSIS_(GTHAN17)_BUCKET">"ARTHRITIS_DIAGNOSIS_(GTHAN17)_BUCKET":</label>
			<select class = 'form-control input-md' name = "ARTHRITIS_DIAGNOSIS_(GTHAN17)_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "RACEFORSLASHETHNICITY_(EDITEDFORSLASHIMPUTED)_BUCKET">"RACEFORSLASHETHNICITY_(EDITEDFORSLASHIMPUTED)_BUCKET":</label>
			<select class = 'form-control input-md' name = "RACEFORSLASHETHNICITY_(EDITEDFORSLASHIMPUTED)_BUCKET">
				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "CENSUS_REGION_AS_OF_12FORSLASH31FORSLASH13_BUCKET">"CENSUS_REGION_AS_OF_12FORSLASH31FORSLASH13_BUCKET":</label>
			<select class = 'form-control input-md' name = "CENSUS_REGION_AS_OF_12FORSLASH31FORSLASH13_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "NUM_OUTPATIENT_DEPT_PHYSICIAN_VISITS_13_BUCKET">"NUM_OUTPATIENT_DEPT_PHYSICIAN_VISITS_13_BUCKET":</label>
			<select class = 'form-control input-md' name = "NUM_OUTPATIENT_DEPT_PHYSICIAN_VISITS_13_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "MULT_DIAG_HIGH_BLOOD_PRESS_(GTHAN17)_BUCKET">"MULT_DIAG_HIGH_BLOOD_PRESS_(GTHAN17)_BUCKET":</label>
			<select class = 'form-control input-md' name = "MULT_DIAG_HIGH_BLOOD_PRESS_(GTHAN17)_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "DIFFICULTY_WALKING_UP_10_STEPS_-_RD_3FORSLASH1_BUCKET">"DIFFICULTY_WALKING_UP_10_STEPS_-_RD_3FORSLASH1_BUCKET":</label>
			<select class = 'form-control input-md' name = "DIFFICULTY_WALKING_UP_10_STEPS_-_RD_3FORSLASH1_BUCKET">
				<option value = '-9'>-9</option>				<option value = '-8'>-8</option>				<option value = '-1'>-1</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "NUM_OUTPATIENT_DEPT_PROVIDER_VISITS_13_BUCKET">"NUM_OUTPATIENT_DEPT_PROVIDER_VISITS_13_BUCKET":</label>
			<select class = 'form-control input-md' name = "NUM_OUTPATIENT_DEPT_PROVIDER_VISITS_13_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "FAMILYAPOSS_TOTAL_INCOME_BUCKET">"FAMILYAPOSS_TOTAL_INCOME_BUCKET":</label>
			<select class = 'form-control input-md' name = "FAMILYAPOSS_TOTAL_INCOME_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "NUM_OFFICE-BASED_PROVIDER_VISITS_13_BUCKET">"NUM_OFFICE-BASED_PROVIDER_VISITS_13_BUCKET":</label>
			<select class = 'form-control input-md' name = "NUM_OFFICE-BASED_PROVIDER_VISITS_13_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "PERSONAPOSS_TOTAL_INCOME_BUCKET">"PERSONAPOSS_TOTAL_INCOME_BUCKET":</label>
			<select class = 'form-control input-md' name = "PERSONAPOSS_TOTAL_INCOME_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>				<option value = '8'>8</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "HIGH_BLOOD_PRESSURE_DIAG_(GTHAN17)_BUCKET">"HIGH_BLOOD_PRESSURE_DIAG_(GTHAN17)_BUCKET":</label>
			<select class = 'form-control input-md' name = "HIGH_BLOOD_PRESSURE_DIAG_(GTHAN17)_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "AGE_OF_DIAGNOSIS-ARTHRITIS_BUCKET">"AGE_OF_DIAGNOSIS-ARTHRITIS_BUCKET":</label>
			<select class = 'form-control input-md' name = "AGE_OF_DIAGNOSIS-ARTHRITIS_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "AGE_AS_OF_12FORSLASH31FORSLASH13_(EDITEDFORSLASHIMPUTED)_BUCKET">"AGE_AS_OF_12FORSLASH31FORSLASH13_(EDITEDFORSLASHIMPUTED)_BUCKET":</label>
			<select class = 'form-control input-md' name = "AGE_AS_OF_12FORSLASH31FORSLASH13_(EDITEDFORSLASHIMPUTED)_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "NUM_OFFICE-BASED_PHYSICIAN_VISITS_13_BUCKET">"NUM_OFFICE-BASED_PHYSICIAN_VISITS_13_BUCKET":</label>
			<select class = 'form-control input-md' name = "NUM_OFFICE-BASED_PHYSICIAN_VISITS_13_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "WEARS_EYEGLASSES_OR_CONTACTS_-_RD_4FORSLASH2_BUCKET">"WEARS_EYEGLASSES_OR_CONTACTS_-_RD_4FORSLASH2_BUCKET":</label>
			<select class = 'form-control input-md' name = "WEARS_EYEGLASSES_OR_CONTACTS_-_RD_4FORSLASH2_BUCKET">
				<option value = '-9'>-9</option>				<option value = '-7'>-7</option>				<option value = '-1'>-1</option>				<option value = '1'>1</option>				<option value = '2'>2</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "ADULT_BODY_MASS_INDEX_(GTHAN17)_-_RD_5FORSLASH3_BUCKET">"ADULT_BODY_MASS_INDEX_(GTHAN17)_-_RD_5FORSLASH3_BUCKET":</label>
			<select class = 'form-control input-md' name = "ADULT_BODY_MASS_INDEX_(GTHAN17)_-_RD_5FORSLASH3_BUCKET">
				<option value = '-9'>-9.0</option>				<option value = '-1'>-1.0</option>				<option value = '8'>8.9</option>				<option value = '9'>9.3</option>				<option value = '9'>9.8</option>				<option value = '10'>10.1</option>				<option value = '10'>10.8</option>				<option value = '12'>12.6</option>				<option value = '12'>12.7</option>				<option value = '13'>13.6</option>				<option value = '13'>13.7</option>				<option value = '14'>14.1</option>				<option value = '14'>14.4</option>				<option value = '14'>14.5</option>				<option value = '14'>14.6</option>				<option value = '14'>14.8</option>				<option value = '14'>14.9</option>				<option value = '15'>15.0</option>				<option value = '15'>15.1</option>				<option value = '15'>15.2</option>				<option value = '15'>15.3</option>				<option value = '15'>15.4</option>				<option value = '15'>15.5</option>				<option value = '15'>15.6</option>				<option value = '15'>15.7</option>				<option value = '15'>15.8</option>				<option value = '15'>15.9</option>				<option value = '16'>16.0</option>				<option value = '16'>16.1</option>				<option value = '16'>16.2</option>				<option value = '16'>16.3</option>				<option value = '16'>16.4</option>				<option value = '16'>16.5</option>				<option value = '16'>16.6</option>				<option value = '16'>16.7</option>				<option value = '16'>16.8</option>				<option value = '16'>16.9</option>				<option value = '17'>17.0</option>				<option value = '17'>17.1</option>				<option value = '17'>17.2</option>				<option value = '17'>17.3</option>				<option value = '17'>17.4</option>				<option value = '17'>17.5</option>				<option value = '17'>17.6</option>				<option value = '17'>17.7</option>				<option value = '17'>17.8</option>				<option value = '17'>17.9</option>				<option value = '18'>18.0</option>				<option value = '18'>18.1</option>				<option value = '18'>18.2</option>				<option value = '18'>18.3</option>				<option value = '18'>18.4</option>				<option value = '18'>18.5</option>				<option value = '18'>18.6</option>				<option value = '18'>18.7</option>				<option value = '18'>18.8</option>				<option value = '18'>18.9</option>				<option value = '19'>19.0</option>				<option value = '19'>19.1</option>				<option value = '19'>19.2</option>				<option value = '19'>19.3</option>				<option value = '19'>19.4</option>				<option value = '19'>19.5</option>				<option value = '19'>19.6</option>				<option value = '19'>19.7</option>				<option value = '19'>19.8</option>				<option value = '19'>19.9</option>				<option value = '20'>20.0</option>				<option value = '20'>20.1</option>				<option value = '20'>20.2</option>				<option value = '20'>20.3</option>				<option value = '20'>20.4</option>				<option value = '20'>20.5</option>				<option value = '20'>20.6</option>				<option value = '20'>20.7</option>				<option value = '20'>20.8</option>				<option value = '20'>20.9</option>				<option value = '21'>21.0</option>				<option value = '21'>21.1</option>				<option value = '21'>21.2</option>				<option value = '21'>21.3</option>				<option value = '21'>21.4</option>				<option value = '21'>21.5</option>				<option value = '21'>21.6</option>				<option value = '21'>21.7</option>				<option value = '21'>21.8</option>				<option value = '21'>21.9</option>				<option value = '22'>22.0</option>				<option value = '22'>22.1</option>				<option value = '22'>22.2</option>				<option value = '22'>22.3</option>				<option value = '22'>22.4</option>				<option value = '22'>22.5</option>				<option value = '22'>22.6</option>				<option value = '22'>22.7</option>				<option value = '22'>22.8</option>				<option value = '22'>22.9</option>				<option value = '23'>23.0</option>				<option value = '23'>23.1</option>				<option value = '23'>23.2</option>				<option value = '23'>23.3</option>				<option value = '23'>23.4</option>				<option value = '23'>23.5</option>				<option value = '23'>23.6</option>				<option value = '23'>23.7</option>				<option value = '23'>23.8</option>				<option value = '23'>23.9</option>				<option value = '24'>24.0</option>				<option value = '24'>24.1</option>				<option value = '24'>24.2</option>				<option value = '24'>24.3</option>				<option value = '24'>24.4</option>				<option value = '24'>24.5</option>				<option value = '24'>24.6</option>				<option value = '24'>24.7</option>				<option value = '24'>24.8</option>				<option value = '24'>24.9</option>				<option value = '25'>25.0</option>				<option value = '25'>25.1</option>				<option value = '25'>25.2</option>				<option value = '25'>25.3</option>				<option value = '25'>25.4</option>				<option value = '25'>25.5</option>				<option value = '25'>25.6</option>				<option value = '25'>25.7</option>				<option value = '25'>25.8</option>				<option value = '25'>25.9</option>				<option value = '26'>26.0</option>				<option value = '26'>26.1</option>				<option value = '26'>26.2</option>				<option value = '26'>26.3</option>				<option value = '26'>26.4</option>				<option value = '26'>26.5</option>				<option value = '26'>26.6</option>				<option value = '26'>26.7</option>				<option value = '26'>26.8</option>				<option value = '26'>26.9</option>				<option value = '27'>27.0</option>				<option value = '27'>27.1</option>				<option value = '27'>27.2</option>				<option value = '27'>27.3</option>				<option value = '27'>27.4</option>				<option value = '27'>27.5</option>				<option value = '27'>27.6</option>				<option value = '27'>27.7</option>				<option value = '27'>27.8</option>				<option value = '27'>27.9</option>				<option value = '28'>28.0</option>				<option value = '28'>28.1</option>				<option value = '28'>28.2</option>				<option value = '28'>28.3</option>				<option value = '28'>28.4</option>				<option value = '28'>28.5</option>				<option value = '28'>28.6</option>				<option value = '28'>28.7</option>				<option value = '28'>28.8</option>				<option value = '28'>28.9</option>				<option value = '29'>29.0</option>				<option value = '29'>29.1</option>				<option value = '29'>29.2</option>				<option value = '29'>29.3</option>				<option value = '29'>29.4</option>				<option value = '29'>29.5</option>				<option value = '29'>29.6</option>				<option value = '29'>29.7</option>				<option value = '29'>29.8</option>				<option value = '29'>29.9</option>				<option value = '30'>30.0</option>				<option value = '30'>30.1</option>				<option value = '30'>30.2</option>				<option value = '30'>30.3</option>				<option value = '30'>30.4</option>				<option value = '30'>30.5</option>				<option value = '30'>30.6</option>				<option value = '30'>30.7</option>				<option value = '30'>30.8</option>				<option value = '30'>30.9</option>				<option value = '31'>31.0</option>				<option value = '31'>31.1</option>				<option value = '31'>31.2</option>				<option value = '31'>31.3</option>				<option value = '31'>31.4</option>				<option value = '31'>31.5</option>				<option value = '31'>31.6</option>				<option value = '31'>31.7</option>				<option value = '31'>31.8</option>				<option value = '31'>31.9</option>				<option value = '32'>32.0</option>				<option value = '32'>32.1</option>				<option value = '32'>32.2</option>				<option value = '32'>32.3</option>				<option value = '32'>32.4</option>				<option value = '32'>32.5</option>				<option value = '32'>32.6</option>				<option value = '32'>32.7</option>				<option value = '32'>32.8</option>				<option value = '32'>32.9</option>				<option value = '33'>33.0</option>				<option value = '33'>33.1</option>				<option value = '33'>33.2</option>				<option value = '33'>33.3</option>				<option value = '33'>33.4</option>				<option value = '33'>33.5</option>				<option value = '33'>33.6</option>				<option value = '33'>33.7</option>				<option value = '33'>33.8</option>				<option value = '33'>33.9</option>				<option value = '34'>34.0</option>				<option value = '34'>34.1</option>				<option value = '34'>34.2</option>				<option value = '34'>34.3</option>				<option value = '34'>34.4</option>				<option value = '34'>34.5</option>				<option value = '34'>34.6</option>				<option value = '34'>34.7</option>				<option value = '34'>34.8</option>				<option value = '34'>34.9</option>				<option value = '35'>35.0</option>				<option value = '35'>35.1</option>				<option value = '35'>35.2</option>				<option value = '35'>35.3</option>				<option value = '35'>35.4</option>				<option value = '35'>35.5</option>				<option value = '35'>35.6</option>				<option value = '35'>35.7</option>				<option value = '35'>35.8</option>				<option value = '35'>35.9</option>				<option value = '36'>36.0</option>				<option value = '36'>36.1</option>				<option value = '36'>36.2</option>				<option value = '36'>36.3</option>				<option value = '36'>36.4</option>				<option value = '36'>36.5</option>				<option value = '36'>36.6</option>				<option value = '36'>36.7</option>				<option value = '36'>36.8</option>				<option value = '36'>36.9</option>				<option value = '37'>37.0</option>				<option value = '37'>37.1</option>				<option value = '37'>37.2</option>				<option value = '37'>37.3</option>				<option value = '37'>37.4</option>				<option value = '37'>37.5</option>				<option value = '37'>37.6</option>				<option value = '37'>37.7</option>				<option value = '37'>37.8</option>				<option value = '37'>37.9</option>				<option value = '38'>38.0</option>				<option value = '38'>38.1</option>				<option value = '38'>38.2</option>				<option value = '38'>38.3</option>				<option value = '38'>38.4</option>				<option value = '38'>38.5</option>				<option value = '38'>38.6</option>				<option value = '38'>38.7</option>				<option value = '38'>38.8</option>				<option value = '38'>38.9</option>				<option value = '39'>39.0</option>				<option value = '39'>39.1</option>				<option value = '39'>39.2</option>				<option value = '39'>39.3</option>				<option value = '39'>39.4</option>				<option value = '39'>39.5</option>				<option value = '39'>39.6</option>				<option value = '39'>39.7</option>				<option value = '39'>39.8</option>				<option value = '39'>39.9</option>				<option value = '40'>40.0</option>				<option value = '40'>40.1</option>				<option value = '40'>40.2</option>				<option value = '40'>40.3</option>				<option value = '40'>40.4</option>				<option value = '40'>40.5</option>				<option value = '40'>40.6</option>				<option value = '40'>40.7</option>				<option value = '40'>40.8</option>				<option value = '40'>40.9</option>				<option value = '41'>41.0</option>				<option value = '41'>41.1</option>				<option value = '41'>41.2</option>				<option value = '41'>41.3</option>				<option value = '41'>41.4</option>				<option value = '41'>41.5</option>				<option value = '41'>41.6</option>				<option value = '41'>41.7</option>				<option value = '41'>41.8</option>				<option value = '41'>41.9</option>				<option value = '42'>42.0</option>				<option value = '42'>42.1</option>				<option value = '42'>42.2</option>				<option value = '42'>42.3</option>				<option value = '42'>42.4</option>				<option value = '42'>42.5</option>				<option value = '42'>42.6</option>				<option value = '42'>42.7</option>				<option value = '42'>42.8</option>				<option value = '42'>42.9</option>				<option value = '43'>43.0</option>				<option value = '43'>43.1</option>				<option value = '43'>43.2</option>				<option value = '43'>43.3</option>				<option value = '43'>43.4</option>				<option value = '43'>43.5</option>				<option value = '43'>43.6</option>				<option value = '43'>43.7</option>				<option value = '43'>43.8</option>				<option value = '43'>43.9</option>				<option value = '44'>44.0</option>				<option value = '44'>44.1</option>				<option value = '44'>44.2</option>				<option value = '44'>44.3</option>				<option value = '44'>44.4</option>				<option value = '44'>44.5</option>				<option value = '44'>44.6</option>				<option value = '44'>44.7</option>				<option value = '44'>44.8</option>				<option value = '44'>44.9</option>				<option value = '45'>45.0</option>				<option value = '45'>45.1</option>				<option value = '45'>45.2</option>				<option value = '45'>45.3</option>				<option value = '45'>45.4</option>				<option value = '45'>45.5</option>				<option value = '45'>45.6</option>				<option value = '45'>45.7</option>				<option value = '45'>45.8</option>				<option value = '45'>45.9</option>				<option value = '46'>46.0</option>				<option value = '46'>46.1</option>				<option value = '46'>46.2</option>				<option value = '46'>46.3</option>				<option value = '46'>46.4</option>				<option value = '46'>46.5</option>				<option value = '46'>46.6</option>				<option value = '46'>46.7</option>				<option value = '46'>46.8</option>				<option value = '46'>46.9</option>				<option value = '47'>47.0</option>				<option value = '47'>47.1</option>				<option value = '47'>47.2</option>				<option value = '47'>47.3</option>				<option value = '47'>47.4</option>				<option value = '47'>47.5</option>				<option value = '47'>47.6</option>				<option value = '47'>47.7</option>				<option value = '47'>47.8</option>				<option value = '47'>47.9</option>				<option value = '48'>48.0</option>				<option value = '48'>48.1</option>				<option value = '48'>48.2</option>				<option value = '48'>48.3</option>				<option value = '48'>48.4</option>				<option value = '48'>48.5</option>				<option value = '48'>48.6</option>				<option value = '48'>48.7</option>				<option value = '48'>48.8</option>				<option value = '49'>49.0</option>				<option value = '49'>49.1</option>				<option value = '49'>49.2</option>				<option value = '49'>49.3</option>				<option value = '49'>49.4</option>				<option value = '49'>49.5</option>				<option value = '49'>49.6</option>				<option value = '49'>49.8</option>				<option value = '49'>49.9</option>				<option value = '50'>50.0</option>				<option value = '50'>50.1</option>				<option value = '50'>50.2</option>				<option value = '50'>50.3</option>				<option value = '50'>50.4</option>				<option value = '50'>50.5</option>				<option value = '50'>50.7</option>				<option value = '50'>50.8</option>				<option value = '50'>50.9</option>				<option value = '51'>51.0</option>				<option value = '51'>51.2</option>				<option value = '51'>51.4</option>				<option value = '51'>51.5</option>				<option value = '51'>51.6</option>				<option value = '51'>51.7</option>				<option value = '51'>51.8</option>				<option value = '51'>51.9</option>				<option value = '52'>52.0</option>				<option value = '52'>52.1</option>				<option value = '52'>52.3</option>				<option value = '52'>52.4</option>				<option value = '52'>52.7</option>				<option value = '52'>52.8</option>				<option value = '52'>52.9</option>				<option value = '53'>53.0</option>				<option value = '53'>53.1</option>				<option value = '53'>53.2</option>				<option value = '53'>53.3</option>				<option value = '53'>53.4</option>				<option value = '53'>53.7</option>				<option value = '53'>53.8</option>				<option value = '53'>53.9</option>				<option value = '54'>54.1</option>				<option value = '54'>54.2</option>				<option value = '54'>54.6</option>				<option value = '54'>54.7</option>				<option value = '54'>54.8</option>				<option value = '54'>54.9</option>				<option value = '55'>55.0</option>				<option value = '55'>55.1</option>				<option value = '55'>55.2</option>				<option value = '55'>55.5</option>				<option value = '55'>55.7</option>				<option value = '55'>55.8</option>				<option value = '56'>56.3</option>				<option value = '56'>56.5</option>				<option value = '56'>56.7</option>				<option value = '57'>57.1</option>				<option value = '57'>57.2</option>				<option value = '57'>57.4</option>				<option value = '57'>57.6</option>				<option value = '57'>57.8</option>				<option value = '58'>58.1</option>				<option value = '58'>58.2</option>				<option value = '58'>58.3</option>				<option value = '58'>58.4</option>				<option value = '58'>58.5</option>				<option value = '59'>59.1</option>				<option value = '59'>59.2</option>				<option value = '59'>59.3</option>				<option value = '59'>59.4</option>				<option value = '59'>59.6</option>				<option value = '60'>60.0</option>				<option value = '60'>60.1</option>				<option value = '60'>60.4</option>				<option value = '60'>60.5</option>				<option value = '60'>60.6</option>				<option value = '60'>60.8</option>				<option value = '60'>60.9</option>				<option value = '62'>62.0</option>				<option value = '62'>62.3</option>				<option value = '62'>62.5</option>				<option value = '62'>62.7</option>				<option value = '63'>63.9</option>				<option value = '64'>64.0</option>				<option value = '64'>64.1</option>				<option value = '64'>64.2</option>				<option value = '64'>64.5</option>				<option value = '64'>64.6</option>				<option value = '64'>64.7</option>				<option value = '65'>65.2</option>				<option value = '65'>65.4</option>				<option value = '66'>66.4</option>				<option value = '66'>66.6</option>				<option value = '66'>66.7</option>				<option value = '66'>66.9</option>				<option value = '67'>67.5</option>				<option value = '68'>68.4</option>				<option value = '72'>72.6</option>				<option value = '73'>73.8</option>				<option value = '76'>76.8</option>				<option value = '78'>78.1</option>				<option value = '80'>80.9</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "NUM_NIGHTS_IN_HOSP_FOR_DISCHARGES_2013_BUCKET">"NUM_NIGHTS_IN_HOSP_FOR_DISCHARGES_2013_BUCKET":</label>
			<select class = 'form-control input-md' name = "NUM_NIGHTS_IN_HOSP_FOR_DISCHARGES_2013_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>				<option value = '7'>7</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "EDUCATION_RECODE_(EDITED)_BUCKET">"EDUCATION_RECODE_(EDITED)_BUCKET":</label>
			<select class = 'form-control input-md' name = "EDUCATION_RECODE_(EDITED)_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>				<option value = '3'>3</option>				<option value = '4'>4</option>				<option value = '5'>5</option>				<option value = '6'>6</option>
			</select>
		</div>

        <div class = 'col-md-3'>
			<label for = "HIGH_CHOLESTEROL_DIAGNOSIS_(GTHAN17)_BUCKET">"HIGH_CHOLESTEROL_DIAGNOSIS_(GTHAN17)_BUCKET":</label>
			<select class = 'form-control input-md' name = "HIGH_CHOLESTEROL_DIAGNOSIS_(GTHAN17)_BUCKET">
				<option value = '0'>0</option>				<option value = '1'>1</option>				<option value = '2'>2</option>
			</select>
		</div>

